body
{
background-image:url("../images/background.jpg");
background-color:#8D8D8D;
}
.container
{
max-width:960px;
margin:auto;
}

header
{
width:960px;
min-height:130px;
background-color:rgba(175, 238, 238,0.6);
box-shadow:10px 10px 10px #00CCFF;
border-radius:20px;
padding:5px;
}
header h1
{
font-family: 'Cinzel', serif;
color:#333300;
font-size:2em;
text-shadow:2px 2px 2px #1E90FF;
}

header img
{
float:left;
max-width:100%;
display:block;
margin-left:128px;
margin-right:25px;
margin-top:5px;
}
a
{
color:blue;
text-decoration:none;
}
nav ul 
{
list-style:none;
text-align:center;
}
nav ul li
{
display:inline-block;
}
nav a
{
text-decoration:none;
margin:10px 10px;
font-size:1em;
color:#B22222;
padding:10px;
background-color:#00B2C0;
}
header a:hover
{
border-radius:50px;
padding:20px;
color:#F22699;
transition:2s;
}

h2
{
text-align:center;
font-family: 'Cinzel', serif;
font-weight:bold;
text-decoration:underline;
color:#B22222;
}
table
{
margin-left:150px;
}
table,th,td
{
border:1px solid black;
}
section img
{
border:3px solid grey;
}
.left h3
{
color:#191970;
font-family: 'Cardo', serif;
font-variant:small-caps;
}
.left
{
width:950px;
background:rgba(220, 220, 220,0.75);
padding:10px;
margin-top:20px;
border-radius:20px;
margin-bottom:10px;
}
.left p
{
font-family: 'Bentham', serif;
color:#191970;
}

.right
{
width:950px;
background:rgba(220, 220, 220,0.75);
border-radius:20px;
padding:10px;
}
.right p
{
font-family: 'Bentham', serif;
color:rgb(0, 0, 102);
font-size:1.3em;
/*color:#663399;*/
}
img
{
display:block;
max-width:100%;
margin:auto;
}
footer img
{
display:inline-block;
margin-right:6px;
border-radius:10px;
}
footer
{
width:960px;
text-align:center;
margin-top:10px;
margin-bottom:0;
background-color:#AFEEEE;
border-radius:10px;
color:purple;
box-shadow:10px 10px 10px #00CCFF; 
}
.clearfix
{
clear:both;
}
